.App {
  margin: 30px auto;
  max-width: 600px;
}
body {
  background-color: rgb(84, 133, 174);
}

.App .container {
  background-color: white;
  border: 1px solid #dadde1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 16px;
  border-radius: 10px;
  color: rgb(135, 135, 135);
}
.App .logo {
  width: 60%;
}

.App footer {
  font-size: 10px;
  margin-top: 10px;
  color: rgb(135, 135, 135);
}

.App footer a {
  text-decoration: none;
  color: rgb(84, 133, 174);
  letter-spacing: 1px;
}
