:root {
  --primary-color: rgb(84, 133, 174);
}

.WeatherForecast {
  text-align: center;
}

.WeatherForecast-day {
  color: var(--primary-color);
  font-weight: 600;
}

.WeatherForecast-max {
  font-size: 14px;
}

.WeatherForecast-min {
  opacity: 0.6;
  font-size: 14px;
}

.WeatherForecast .WeatherForecast-img {
  width: 36px;
  height: 36px;
  margin: 0px;
}

@media (max-width: 380px) {
  .WeatherForecast .WeatherForecast-img {
    width: 24px;
    height: 24px;
  }
  .WeatherForecast-day {
    font-size: 12px;
    padding: 0;
  }
  .WeatherForecast-max {
    font-size: 12px;
  }
  .WeatherForecast-min {
    font-size: 10px;
  }
}
@media (max-width: 490px) {
  .WeatherForecast .col {
    padding: 0;
  }
}
